.card {

    backdrop-filter: blur(3px) saturate(200%);
    -webkit-backdrop-filter: blur(3px) saturate(200%);
    background-color: rgba(217, 226, 255, 0.68);
    border-radius: 12px;
    position: relative;
    padding: 10px;
    transition: 0.3s;
    box-shadow: 0px 0px 7px 0px rgb(8, 90, 255);
    border: 2px solid rgb(47, 141, 255);
}
  


.carddark {
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.8);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: relative;
    padding: 10px;
    transition: 0.3s;
    box-shadow: 0px 0px 7px 0px rgb(8, 90, 255);
    border: 1px solid rgba(47, 141, 255, 0.568);
}


.card:hover {
    box-shadow: 0px 0px 12px 0px greenyellow;
    border: 3px solid greenyellow;
    transform: scale(1.03);
    margin: -3px;
}
.carddark:hover {
    box-shadow: 0px 0px 7px 0px red;
    border: 3px solid red;
    transform: scale(1.03);
    margin: -3px;
}